<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_radius" value="0.1"/>
    <xacro:property name="base_height" value="0.1"/>
    
    <xacro:property name="leg_length" value="0.8"/>
    <xacro:property name="leg_width" value="0.1"/>
    <xacro:property name="leg_height" value="0.2"/>

    <xacro:property name="Wheel_mount_length" value="0.1"/>
    <xacro:property name="Wheel_mount_width" value="0.4"/>
    <xacro:property name="Wheel_mount_height" value="0.2"/>
    <xacro:property name="Wheel_separation" value="0.1"/>


    <xacro:property name="wheel_radius" value="0.04"/>
    <xacro:property name="wheel_height" value="0.08"/>

    <xacro:property name="sensor_mount_length" value="0.08"/>
    <xacro:property name="sensor_mount_width" value="0.08"/>
    <xacro:property name="sensor_mount_height" value="0.08"/>

    

</robot>